:root {
    --light-teal: #1fafa8;
    --diametric-red: #af1f26;
}

a {
    color: var(--light-teal);
    text-decoration: none;
}

a:hover {
    color: var(--diametric-red);
}

.bg-teal {
    background-color: var(--light-teal);
}

.teal-link {
    color: white;
}

.teal-link:hover {
    color: var(--light-teal);
}

.dark-link {
    color: black;
}
